<h2><%= title %></h2>

<% if( news.length === 0 ) { %>
  <p>Er is geen nieuws beschikbaar</p>
<% } else { %>
    <% news.forEach((item) => { %>
        <a href="/news/<%= item.slug %>"><%= item.title %> <br></a>
    <% }) %>
<% } %>